.logo{
    width:700px;
    height:50px;
    margin-top:20px;
}
.ta{
    width: 200px;
    height: 30px;
    float: left;
}
.growth{
    width: 50px;
    height: 40px;
    float: left;
    margin-left: 320px;
}
.growth_two{
    width: 100px;
    height: 40px;
    margin-left: 10px;
    float: left;
   
}
.image{
    float: left;
    margin-right: 2px;
    margin-top: 1px;
}
.sales_growth{
    float: left;
    font-family: Gelion;
    font-size: 7px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    /* letter-spacing: normal; */
    text-align: left;
    color: #64bf5d;
}
.img{
    width: 100px;
}
.img_style{
    width: 7.5px;
    height: 7.5px;
    position: absolute;
    top: 1%;
    right: 2%;
}
.img_style2{
    width: 7.5px;
    height: 7.5px;
    position: absolute;
    top: 1%;
    right: 2%;
}
.image1{
    width: 11px;
  height: 10px;
  margin-left: 5px;
  margin-bottom: 4px;
}
.image_text{
    font-size: 12.5px ;
}
.image_style{
    margin-top: 10px;
    margin-left: 30px;
    width: 120px;
    height: 50px;

}
.card_style{
    width: 180px;
  height: 90px;
  box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, 0.16);
  border: solid 0.5px #3939f8;
  background-color: #ffffff;
  margin-bottom: 15px;
}
.image_style2{
    margin-top: 20px;
    margin-left: 40px;
    width: 120px;
    height: 60px;
    float: left;
}
.card_style2{
    width: 280px;
    height: 120px;
    box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    flex-direction: row;
  /* margin-bottom: 15px; */
}
.text_style{
  font-family: Gelion;
  font-size: 15px;
  text-align: left;
  display: inline-block;
}
.allign1{
    border: 1px solid red;
    width: 200px;
    height: 50px;
}